* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    max-width: 100%;
}

.intro {
    padding: 50px 0;
    text-align: center;
    color: grey;
    position: relative;
    flex: 1;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 70px;
}

footer {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: grey;
    flex-shrink: 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.footer-left, .footer-right {
    flex: 1;
}

.social {
    margin-top: 5px;
}

.social a {
    text-decoration: none;
    color: #007bff;
}

.social a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

@media (min-width: 600px) {
    .center-image {
        max-width: 30%;
    }

    .intro {
        padding: 50px;
        font-size: 1.5rem;
    }

    #prevButton {
        left: 2em;
    }

    #nextButton {
        right: 2em;
    }
}
