* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.intro {
    padding: 50px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    flex: 1;
    color: grey;
}

.center-image {
    display: block;
    margin: 2em auto;
    max-width: 80%;
    height: auto;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
    z-index: 10;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: grey;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.footer-left, .footer-right {
    flex: 1;
}

.social {
    margin-top: 10px;
}

.social a {
    text-decoration: none;
    color: #007bff;
}

.social a:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .center-image {
        max-width: 30%;
    }

    .intro {
        padding: 50px;
        font-size: 1.5rem;
    }
}
